<section id="privacySecurityContainer">
    <div class="card">
        <h3>Privacy Policy</h3>
        <p>We are committed to protecting the privacy of our clients in accordance with the Australian Privacy Principles (APPs) under the Privacy Act 1988 (Cth). The personal information collected is used solely for the purpose of managing client relationships and providing personalized fitness services.</p>
        
        <h3>Data Collection</h3>
        <p>We collect only the necessary information required to provide our services, including your name, contact details, and health-related information relevant to your fitness programs. This information is collected directly from you, and we may also collect sensitive health information with your explicit consent.</p>

          <h3>Data Usage</h3>
        <p>Client information is used exclusively for the purpose of providing and improving our fitness services. We do not share, sell, or rent personal information to third parties unless required or authorized by law. We may share information with third-party service providers who assist us in delivering our services, but only under strict confidentiality agreements.</p>
        
        <h3>Client Rights</h3>
        <p>Under the Privacy Act, clients have the right to access, correct, or delete their personal information at any time. You can request access to your information, ask for corrections, or request its deletion by contacting our administrative staff. We will respond to these requests in a timely manner and in compliance with the Privacy Act.</p>
        

         </div>
    
</section>
